/* ------------------------------- about ------------------------------- */
.about {
    /* border-radius: 30px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); */
    /* height: 600px; */
    height: auto;
    width: 1142px;

}

.about .container {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 auto;
    align-items: center;
}

.about .container .left {
    /* float: left; */
    flex: 2;
    height: 350px;
    width: 350px;

    background-image: url(images/avatar_koutu.png);
    background-size: cover;
    /* background-color: #fff; */
    border-radius: 200px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 0px white;
    transition: all .3s;
}

.about .container .left:hover {
    box-shadow: 0px 0px 30px 0px white;

}




.about .container .right {
    position: relative;
    height: 400px;
    width: 650px;
    margin-left: 40px;
    padding: 20px 50px;
    /* background-color: #f3f3f3; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
    transition: all .3s;
    color: white;
}

.about .container .right:hover {
    box-shadow: 0px 0px 30px 0px white;

}



.about .container .right::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    height: 5px;
    width: 5px;
    background-color: white;
    /* box-shadow: 0px 0px 10px 0px #1E90FF; */
    animation: move 5s linear infinite;

}





@keyframes move {
    0% {
        height: 5px;
        width: 5px;
        transform: translate(0, 0);

    }

    12.5% {
        height: 5px;
        width: 100px;
        transform: translate(524px, 0);
    }

    25% {
        height: 5px;
        width: 5px;
        transform: translate(755px, 0);

    }

    37.5% {
        height: 62px;
        width: 5px;
        transform: translate(755px, 356px);
    }

    50% {
        height: 5px;
        width: 5px;
        transform: translate(755px, 445px);
    }

    62.5% {
        height: 5px;
        width: 100px;
        transform: translate(131px, 445px);
    }

    75% {
        height: 5px;
        width: 5px;
        transform: translate(0, 445px);
    }

    87.5% {
        height: 62px;
        width: 5px;
        transform: translate(0px, 89px);
    }

    100% {
        height: 5px;
        width: 5px;
        transform: translate(0, 0);
    }
}


.about .right h4 {
    height: 40px;
    width: fit-content;
    line-height: 40px;
    padding: 0 40px;

}

.about .right p {
    overflow: scroll;
    height: 300px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 2em;
    transition: all .5s;
    text-indent: 4em;
    /* background-color: rgba(0, 0, 0, 0.05); */

}



/* 隐藏滚动条 */
.about .right p::-webkit-scrollbar {
    display: none;
}



.about .right a {
    position: absolute;
    display: none;
    top: 50%;
    height: 80px;
    width: 40px;
    margin-top: -40px;
    font-size: 48px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    background-color: rgba(30, 144, 255, 0.5);
}


.about .right .prev {
    left: 0;
    border-radius: 0 40px 40px 0;
}


.about .right .next {
    right: 0;
    border-radius: 40px 0 0 40px;
}

/* 进入显示 */
/* .about .right:hover .prev,
.about .right:hover .next {
    display: block;
    transition: all .3s;
}

.about .right:hover .prev:hover,
.about .right:hover .next:hover {
    background-color: black;
} */

@media (max-width: 750px) {
    .about {
        /* border-radius: 30px;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); */
        /* height: 600px; */
        height: auto;
        width: 80%;

    }

    .about .container {
        display: block;
        width: auto;
        margin: 0 auto;
        align-items: center;
    }

    .about .container .left {
        width: 80%;
        height: auto;
        padding-bottom: 80%;
        background-size: cover;
        background-position: center;
        /* 在小屏幕上将宽度设为100% */
        /* padding-bottom: 50%; */
        /* 保持正方形 */
        /* margin-left: 0; */
        /* 在小屏幕上将左边距设为0 */
        margin: 0 auto 20px;
    }

    .about .container .right {
        position: relative;
        height: 50%;
        width: 80%;
        /* margin-left: 0px; */
        margin: 0 auto;
        padding: 16px 30px;
        border-radius: 10px;
        /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); */
        transition: all .5s;
    }


    .about .container .right::before {
        display: none;

    }




    .about .right h4 {
        text-align: center;
        height: auto;
        width: auto;
        line-height: 32px;
        padding: 0 32px;
        font-size: 18px;
        /* border-bottom: 2px solid rgb(199, 199, 199, 0.8); */
    }

    .about .right p {
        overflow: scroll;
        letter-spacing: 1px;
        height: auto;
        margin: 16px 0;
        font-size: 16px;
        line-height: 2em;
        transition: all .5s;
        text-indent: 2em;
        /* border: 1px solid black; */
        /* background-color: rgba(0, 0, 0, 0.05); */

    }

    @keyframes move {
        0% {
            height: 5px;
            width: 5px;
            transform: translate(0, 0);

        }

        12.5% {
            height: 5px;
            width: 100px;
            transform: translate(259px, 0);
        }

        25% {
            height: 5px;
            width: 5px;
            transform: translate(374px, 0);

        }

        37.5% {
            height: 62px;
            width: 5px;
            transform: translate(374px, 277px);
        }

        50% {
            height: 5px;
            width: 5px;
            transform: translate(374px, 400px);
        }

        62.5% {
            height: 5px;
            width: 100px;
            transform: translate(115px, 400px);
        }

        75% {
            height: 5px;
            width: 5px;
            transform: translate(0, 400px);
        }

        87.5% {
            height: 62px;
            width: 5px;
            transform: translate(0px, 123px);
        }

        100% {
            height: 5px;
            width: 5px;
            transform: translate(0, 0);
        }
    }
}