/* ------------------------------- index-footer ------------------------------- */
.footer {
    height: 400px;
    width: 100%;
    /* background-color: rgba(30, 144, 255, 0.9); */
    background: linear-gradient(rgba(0, 0, 0, 0.628), #0160c042);
    border-top: 2px solid rgb(199, 199, 199, 0.8);
}

.footer .nav {
    margin: 0 auto;
    height: 100%;
    width: auto;
    /* background-color: pink; */
    text-align: center;
}

.footer .nav img {
    display: inline-block;
    height: 120px;
    width: 120px;
    margin: 15px auto 0;
    /* background-image: url(images/avatar_3.jpg); */
}


.footer .nav .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 60%;
    /* background-color: purple; */
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
}

.footer .nav .tabs a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
}


.footer .nav .as {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.footer .nav .as a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-decoration: none;
    background-size: cover;
    border-radius: 10px;
}

.footer .nav .as a img {
    height: 28px;
    width: 28px;
    margin-top: 6px;
}




.footer .links {
    display: flex;
}

@media (max-width: 750px) {
    .footer .nav img {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 15px auto 0;
        /* background-image: url(images/avatar_3.jpg); */
    }

    .footer .nav .tabs {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 50%;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    .footer .nav .tabs a {
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        margin: 5px auto;
    }



    .footer .nav .as {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .footer .nav .as a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-size: cover;
        border-radius: 10px;
        background-color: transparent;
    }

    .footer .nav .as a img {
        height: 28px;
        width: 28px;
        margin-top: 6px;
        /* background-color: black; */
    }

}