/* ------------------------------- skillset ------------------------------- */
.skillset {
    width: auto;
    height: auto;
    transition: all .5s;
}

.skillset .container {
    display: flex;
    height: auto;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    backdrop-filter: blur(3px);
}

.skillset .container h4 {
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(199, 199, 199, 0.8);
    transition: font-size .3s;
    color: white;
}

.skillset .container .skill-type {
    height: auto;
    width: 300px;
    border-radius: 10px;
    border: 2px solid rgb(199, 199, 199, 0.8);
    margin: 20px auto;
    padding: 20px 4px 4px 4px;
    transition: all .3s;
}

.skillset .skill-type:hover {
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.skillset .container .skill-type ul {
    flex-direction: column;
    height: auto;
    align-items: center;
}

.skillset li {
    height: 50px;
    width: 250px;
    margin: 5px auto;
    border-radius: 5px;
    padding-left: 20px;
    list-style: none;
    transition: all .3s;
}

.skillset li:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255);
}

.skillset li img {
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.skillset li div {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: fit-content;
    font-size: 16px;
    margin-top: 15px;
    color: white;
}


@media (max-width: 750px) {
    .skillset {
        margin-top: 200px;
        width: 90%;
        height: auto;
        /* opacity: 0; */
        transition: all .5s;
    }


    .skillset .container {
        display: flex;
        height: auto;
        width: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
    }


    .skillset .container h4 {
        height: 10px;
        line-height: 10px;
        font-size: 16px;
        text-align: center;
        padding-bottom: 14px;
        border-bottom: 2px solid rgb(199, 199, 199, 0.8);
        transition: font-size .3s;
    }

    .skillset .container .skill-type {
        height: 40%;
        width: 40%;
        border-radius: 10px;
    }

    .skillset .container .skill-type ul {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 10px 0;
    }


    .skillset li {
        display: flex;
        height: 40px;
        width: 80%;
        list-style: none;
        transition: all .3s;
        align-items: center;
    }

    .skillset li img {
        height: auto;
        display: none;
    }

    .skillset li div {
        text-align: center;
        display: inline-block;
        margin: 0 10px;
        margin-left: -8%;
        width: 100%;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 700;
    }
}