/* ------------------------------- skillset ------------------------------- */
.skillset {
    /* margin-top: 200px; */
    width: auto;
    /* background-color: pink; */
    height: auto;
    /* opacity: 0; */
    transition: all .5s;
}


.skillset .container {
    display: flex;
    height: auto;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    /* background-color: skyblue; */
}

.skillset .container h4 {
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-family: cursive;
    padding-bottom: 20px;
    /* margin-bottom: 10px; */
    border-bottom: 2px solid rgb(199, 199, 199, 0.8);
    transition: font-size .3s;
    color: white;
    /* background-color: bisque; */
}

/* .skillset h4:hover {
    font-size: 30px;
} */


.skillset .container .skill-type {
    /* background-color: white; */
    height: 390px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid rgb(199, 199, 199, 0.8);
    margin: 20px auto;
    padding: 20px 4px 4px 4px;
    transition: all .3s;
    /* background-color: skyblue; */
}

.skillset .skill-type:hover {
    /* transform: scale(1.005); */
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}

.skillset .container .skill-type ul {
    display: flex;
    flex-direction: column;
    height: 334px;
    align-items: center;
}



.skillset li {
    /* display: flex; */
    height: 70px;
    width: 250px;
    margin: 6px auto;
    border-radius: 5px;
    padding-left: 20px;
    list-style: none;
    transition: all .3s;
    /* background-color: #fff; */
    /* border-bottom: 1px solid black; */
    /* align-items: center; */
    /* box-shadow: 0px 0px 7px 0px rgba(255, 255, 255); */

}

.skillset li:hover {
    cursor: pointer;
    transform: translateY(-5px);
    /* box-shadow: 0px 5px 10px -5px rgba(255, 255, 255); */
    border: 1px solid white;
}


.skillset li img {
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    /* background-color: #fff; */
}

.skillset li div {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    width: fit-content;
    font-size: 16px;
    margin-top: 15px;
    color: white;
}


@media (max-width: 750px) {
    .skillset {
        margin-top: 200px;
        width: 90%;
        height: auto;
        /* opacity: 0; */
        transition: all .5s;
    }


    .skillset .container {
        display: flex;
        height: auto;
        width: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
    }


    .skillset .container h4 {
        height: 10px;
        line-height: 10px;
        font-size: 16px;
        text-align: center;
        font-family: cursive;
        padding-bottom: 14px;
        /* margin-bottom: 10px; */
        border-bottom: 2px solid rgb(199, 199, 199, 0.8);
        transition: font-size .3s;
        /* background-color: bisque; */
    }

    .skillset .container .skill-type {
        height: 40%;
        width: 40%;
        border-radius: 10px;
        /* border: 2px solid rgb(199, 199, 199, 0.8);
        margin: 20px auto;
        padding: 20px 4px 4px 4px;
        transition: all .3s; */
        /* background-color: skyblue; */
    }

    .skillset .container .skill-type ul {
        display: flex;
        flex-direction: column;
        height: 40%;
        align-items: center;
        padding: 10px 0;
    }


    .skillset li {
        display: flex;
        height: 40px;
        width: 70%;
        list-style: none;
        transition: all .3s;
        align-items: center;
    }

    .skillset li img {
        /* float: left; */
        height: auto;
        display: none;
    }

    .skillset li div {
        text-align: center;
        display: inline-block;
        margin: 0 10px;
        margin-left: -8%;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
    }
}