/* ------------------------------- welcome ------------------------------- */
.welcome {
    height: 650px;
    width: 100%;
    background-image: url(images/welcome.png);
    background-size: cover;
    background-position: center;

}